env
image_docarrays/*
images/*
temp_json/*
.mypy_cache
__pycache__
.vscode
bot/quant_cuda.egg-info
transformers
dist
build
bot/llama_model/build
bot/llama_model/dist
bot/llama_model/quant_cuda.egg-info